:root {
    --color-primary: #a688fa;
    --color-secondary: #908d96;
    --color-surface-dark: #1a1625;
    --color-surface: #2f2b3a;
    --color-surface-light: #46424f;

    background-color: var(--color-surface-dark);
}

body {
    background-color: inherit;
}

h1, h2, h3, h4, p {
    color: white;
}

textarea {
    resize: none;
}

hr {
    color: var(--color-secondary);
}

.text-color-primary {
    color: var(--color-primary);
}

.text-color-dark {
    color: var(--color-secondary)
}

.button-primary {
    background-color: var(--color-primary) !important;
    color: var(--color-surface-dark);
    border-style: none;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 600;
    box-shadow: none;
    transition: filter 0.2s;
}

.button-discrete {
    background: none;
    color: white;
    border-style: none;
    text-decoration: none;
    transition: 
        filter 0.2s,
        color 0.2s;
}

.button-primary:hover, .button-discrete:hover {
    filter: brightness(0.85);
}

.button-primary:hover {
    box-shadow: 0 0 5px var(--color-primary);
}

.button-discrete:hover {
    color: var(--color-primary);
}


.button-primary:active, .button-discrete:active {
    filter: brightness(0.75);
}

.button-primary:active {
    box-shadow: 0 0 5px var(--color-primary);
}

.button-discrete:active {
    color: var(--color-primary);
}

.checkbox-primary {
    background-color: var(--color-surface) !important;
    color: var(--color-secondary);
    border-style: none;
    padding: 4rem;
    transition: 
        filter 0.2s,
        background-color 0.2s,
        color 0.2s;
}

.checkbox-primary:hover {
    filter: brightness(0.5);
    background-color: var(--color-primary) !important;
    color: var(--color-secondary);
}

.checkbox-primary:checked {
    filter: brightness(1);
    background-color: var(--color-primary) !important;
    color: var(--color-secondary);
}

.checkbox-primary:not(:checked, :hover) {
    filter: brightness(1);
    background-color: var(--color-surface) !important;
    color: var(--color-secondary);
}



.color-dark {
    color: var(--color-surface-dark);
}

.background-primary {
    background-color: var(--color-primary);
}

.background-secondary {
    background-color: var(--color-surface-light);
}

.background-secondary-alternate {
    background-color: var(--color-surface);
}

.border-primary {
    border-color: var(--color-primary);
}

.border-end-dark {
    border-right: 20px;
    border-color: var(--color-surface-dark);
    border: solid;
}

.border-start-dark {
    border-left: 20px;
    border-color: var(--color-surface-dark);
    border: solid;
}

.nav-drawer {
    max-width: 200px;
    min-width: 115px;
}

.form-dark {
    background-color: var(--color-surface);
    color: white;
    border-color: var(--color-surface);
}

.form-dark:focus, .form-dark:hover {
    background-color: var(--color-surface);
    color: white;
    border-color: var(--color-primary);
    outline-color: var(--color-primary);
    box-shadow: 0 0 5px var(--color-primary);
}

.form-dark:disabled {
    background-color: var(--color-surface-dark);
    color: var(--color-surface-light);
}

.form-dark::placeholder {
    color: var(--color-secondary);
}

.extend-vertical {
    min-height: 100%;
    height: 100vh;
}

.spacer {
    height: 10vh;
}